@model HomeBuild.Models.Stocks
<br></br>
<div class="row">
  <div class="col-md-4">
  <form method="post" asp-controller="ShoppingCart" asp-action="AddToCart">
	<input type="hidden" name="productId" value="@Model.Id" />
    <img class="card-img-top" src="@Url.Content(Model.UrlImg)" alt="@Model.Product" style="height: 420px; object-fit: cover;">
   <div class="col-md-8">
    <div style="width:500" class="card-body">
      <h4 class="card-title" style="font-size: 24px; margin-bottom: 10px;">
        <a href="#" style="text-decoration: none; color: #333;">@Model.Product</a>
      </h4>
      <p class="card-text" style="font-size: 16px; margin-bottom: 10px;">Тип: @Model.Type</p>
      <div class="row">
        <div class="col-md-4 card-text" style="font-size: 16px; margin-bottom: 5px;">Цвят:</div>
        <div class="col-md-8">
          <select name="color" style="font-size: 16px; margin-bottom: 10px; width: 100%;">
            @foreach (var color in Model.Color.Split(','))
            {
              <option>@color</option>
            }
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 card-text" style="font-size: 16px; margin-bottom: 5px;">Размер:</div>
        <div class="col-md-8">
          <select name="size" style="font-size: 16px; margin-bottom: 10px; width:25px; width: 100%;">
            @foreach (var size in Model.Size.Split(','))
            {
              <option>@size</option>
            }
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 card-text" style="font-size: 16px; margin-bottom: 5px;">Количество:</div>
        <div class="col-md-8">
          <div class="input-group">
            <input type="number" name="quantity" value="1" min="1" max="@Model.Quantity" style="font-size: 16px; width: 80px; margin-bottom: 10px;" />
          </div>
        </div>
      </div>
      <h5 class="card-text" style="font-size: 24px; font-weight: bold; width:200px; margin-bottom: 10px;">Цена: $@Model.Price</h5>
      <div class="card-footer" style="font-size: 14px; width:355px; color: #888;">
        <small>Наличност: @Model.Quantity продукта</small>
      </div>
      <div class="card-footer" style="padding-top: 20px; width:355px">
        <button type="submit" class="btn btn-primary" style="font-size: 20px;">Добави в количка</button>
      </div>
    </div>
   </form>
  </div>
</div>
